.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    flex: 1 1 200px;
    margin: 10px;
    padding: 20px;
    // background-color: #eee;
    text-align: center;

    img {
        max-width: 100%;
        height: auto;
        transition: all 0.2s ease-in-out;
    }

    &:hover img {
        transform: scale(2);
        cursor: pointer;
    }

    p {
        margin-top: 10px;
    }
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #444;
    color: #fff;
    font-size: 24px;
    font-weight: bold;

    .search-bar {
        display: block;
        align-items: right;

        input[type="text"] {
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 5px;
            font-size: 14px;

            &:focus {
                outline: none;
                border-color: blue;
            }
        }

        button {
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #eee;
            font-size: 14px;

            &:hover {
                background-color: lightblue;
                cursor: pointer;
            }
        }
    }
}