.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    flex: 1 1 200px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar-toggle {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}

.main {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.search-box {
    position: fixed;
    top: 0;
    width: 60%;
    height: 50px;
    background-color: #fff;
    z-index: 10;
    display: flex;
    margin-bottom: 2rem;
    padding: 5px;

    input[type='text'] {
        flex: 1;
        padding: 0.5rem;
        font-size: 1rem;
        border: none;
        border-radius: 20px 0 0 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    button {
        padding: 0.5rem 1rem;
        background-color: #0077c2;
        color: #fff;
        font-size: 1rem;
        border: none;
        border-radius: 0 20px 20px 0;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        &:hover {
            background-color: #005ea6;
        }
    }
}

.shrink {
    width: calc(100% - 300px);
}

.strech {
    width: 100%;
}